.titleShow {
  font-size: 50px;
  margin-top: 40px;
  color: #024155;
  padding-top: 70px;
}

.newPostButton {
  display: block;
  margin: auto;
  background-color: #024155;
  width: 235px;
  height: 27px;
  font-weight: 500;
  color: white;
  border-radius: 12px;
  padding-top: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.2s all;
}

.newPostButton:active {
  transform: scale(0.98);
}
